.tile {
  position: absolute;
  background-color: black;
  width: 100%;
  border-radius: 0.75rem;
  z-index: 99;
  border: 5px outset var(--background);
  top: 0;
}

.h-line {
  height: 5%;
  background-color: var(--background);
  border-radius: 30%;
  box-shadow: 0px 0px 1rem var(--background);
}

.tile.full-tile {
  height: var(--tile-height);
}

.tile.half-tile {
  height: calc(var(--tile-height) / 2);
}

.tile.checkpoint {
  border: 5px outset var(--primary);
}

.checkpoint-container {
  height: 90%;
  width: 90%;
}