.game-page {
  background-color: var(--primary);
}

.board-container {
  flex: 1;
  width: 100%;
  min-height: 0;
}

.game-container {
  width: 100%;
  height: 100%;
  max-width: 450px;
  background-color: var(--primary);
}